<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoi dan IT</title>
</head>
<body>
    <h1>Hello, xin chao cac ban! hoi dan IT</h1>
</body>
</html>